/*----------- Color's ----------*/
    $primaryColor: #1888ff;
    $secondaryColor: #5cabff;
    $blackColor: #000;
    $whiteColor: #fff;
    $redColor: red;
    $greenoColor: #4f0;
    $lightColor: #f0f1f3;
    $niceColor: #444;
    $blueColor: #40f;
/*----------- Color's ----------*/

// html{
//     font-size: 62.5%;
// }