/*============= Global Setup ==============*/
*{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  overflow-x: hidden;
  font-family: "Times New Roman", Times, serif;
}

::before,
::after{
  box-sizing: border-box;
}

/*=============== BASE =================*/

html{
  font-size: 62.5%;
  scroll-behavior: smooth;
  // overflow-y: scroll;
  scrollbar-color: skyblue #232323;
}

a{
  text-decoration: none;
}

ul{
  margin: 0;
  padding: 0;
}

li{
  list-style: none;
}

// .app{
//   height: 100vh;

//   .sections{
//     width: 100%;
//     height: calc(100vh- 70px);
//     position: relative;
//     top: 70px;
//   }
// }
//   // .sections{
//   //   width: 100%;
//   //   height: calc(100vh - 60px);
//   //   background-color: #303;
//   //   position: relative;
//   //   top: 60px;
//   //   scroll-behavior: smooth;
//   //   scroll-snap-type: y mandatory;
//   //   scrollbar-width: none; // for firefox

//   //   > *{
//   //     width: 100vw;
//   //     height: calc(100vh - 60px);
//   //     scroll-snap-align: start;
//   //   }
//   // }
// }
